.row
  - pictures.each do |picture|
    .col-xs-12.col-md-4
      .picture-container
        .picture
          = image_tag picture.image, class: 'img-responsive'
        .picture-footer
          .picture-like
            - if current_user
              - if ![Favori.find_by_picture_id(picture.id)].empty?
                - if Favori.where(:picture_id=>picture.id).pluck(:user_id).include?(current_user.id)
                  %a.fa.fa-heart.heart.full-heart
                - else
                  %a.fa.fa-heart-o.heart.empty-heart{href: favoris_path(picture.id)}
            - else
              %i.fa.fa-heart-o.heart.empty-heart
            %h3
              = Favori.where(:picture_id=>picture.id).count
          .picture-description
            %h3
              %a{href: user_path("#{picture.user.id}-#{picture.user.first_name.parameterize}")}
                = "By " + picture.user.first_name + " " + picture.user.last_name
            %p
              - Tag.all.each do |tag|
                - if picture.tags.pluck(:id).include?(tag.id)
                  %a.tag-name{href: tag_path(tag.id)}
                    = tag.name
