.row
  .col-xs-8.col-xs-offset-2
    %h3= 'Uploder une image'
-# - if @listing.errors.any?
-#   .row
-#     .col-xs-8.col-xs-offset-2.errors
-#       %h2
-#         = pluralize(@listing.errors.count, "error")
-#         = t('errors', count: @listing.errors.count)
-#       %ul
-#         - @listing.errors.full_messages.each do |msg|
-#           %li= msg
.row
  .col-xs-8.col-xs-offset-2
    = form_for @picture, class: 'form', html: {multipart: true} do |f|
      .form-group
        = f.label :id_category, class: 'form-label required'
        = f.collection_select :id_category, Category.all, :id, :name, {}, {class: 'form-control'}
      -# .form-group
      -#   = f.label :tags, class: 'form-label required'
      -#   = f.check_box_tag 'rock', 'rock music', class: 'form-control'
      .form-group
        = f.label :image, class: 'form-label required'
        = f.file_field :image, class: 'form-control'

      .form-group
        -# %span= t('required_field')
        = f.submit "Publier la photo", class: 'btn btn-primary pull-right'
